<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-trophy"></i>REFERENCES</h2>
               <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">The paper was published in EST 2018 Conference</h3>
                            <div class="time">2018.3</div>
                        </div><!--//upper-row-->
                        <div class="company">
                          <a href="http://www.est.org.tw/est2018/program-schedule%20at%20a%20glance.html">
                          A Study of Visual Discomfort and Visual Fatigue caused by VR Headsets</a></div>
                    </div><!--//meta-->
                    <div class="details">
                      <!--
                        <p>我們團隊是由系上三位同學組成，當初發想一個線上團購網站，不同於其他團購網站的特色是顧客可以提出希望價格，廠商可以觀看這個價格看要賣多少產品，透過此方法能夠減少廠商提高售價，消費者只能默默買單的情形，此企劃在30隊的選拔中獲得「佳作」。</p>  
                        <p></p>-->
                    </div><!--//details-->
                </div><!--//item-->

              <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">College student research program in Ministry of Science and Technology</h3>
                            <div class="time">2017.7</div>
                        </div><!--//upper-row-->
                        <div class="company">Code: 106-2813-C-143-003-H</div>
                    </div><!--//meta-->
                    <div class="details">
                      <!--
                        <p>我們將成果用海報和動畫的方式呈現，並且透過創意的陶藝品，讓人能夠對陶藝耳目一新，並且用影片的方式傳達我們電子商務網站的內容，相關內容請觀看我的Youtube。</p>  
                        <p></p>-->
                    </div><!--//details-->
                </div><!--//item-->
  
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Third place in the 21st International ICT Innovative Services Awards</h3>
                            <div class="time">2016.11</div>
                        </div><!--//upper-row-->
                        <div class="company">Building Taitung B2C website</div>
                    </div><!--//meta-->
                    <div class="details">
                        <!--<p>九鳥陶燒是台東目前唯一一家燒窯工作坊，但碰上兩方面的問題，分別為陶藝品拍攝不佳和資料零散。而我主要負責解決資料零散的問題，透過metadata紀錄產品資料，有了陶藝品資料架後，我們團隊就開始進行專家系統的開發。我在專家系統中負責將系統連上網站，並且保持順暢，而其他夥伴負責網頁美編和專家系統細部開發。最終我們在3個月的時間將網站架設完畢，並且將此成果拿去全國競賽，獲得「產學合作(PR)組-第3名」的榮耀。</p>  
                        --><p></p>
                    </div><!--//details-->
                </div><!--//item-->
  
                
