<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>簡介</h2>
<div class="summary">
<p>I am a hardworking and ambitious individual with a great passion for the Education and Technology industry. 
  I am currently in my second year of studying MA Information and Computer Education at National Taiwan Normal University. 
  I have excellent communication skills, enabling me to effectively communicate with a wide range of people. 
  Through technology, let education and other fields combine to train Computational Thinking. 
  Solve problems and create value. 
  I can put into practice my knowledge and experience, benefiting the operations of the organisation that I work for.</p>
<!--
<p></p>
　
<p></p>-->
</div>
</section><!--//section-->
<!--<a href="#" target="_blank">download this free resume/CV template here</a>-->
