<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>簡介</h2>
<div class="summary">
<p>我叫英發，是臺東大學資管系學生；積極努力，是別人最常對我說的一句話。</p> 

<p>認真向上、遇到不會的東西我會主動Google查詢、 對科技新鮮事物充滿了學習熱忱； 除了基本的程式設計、專案管理、口語表達，空閒時間我喜歡到戶外呼吸新鮮空氣，獨自思考未來的目標。</p>

<p>我把在學校的服務經驗，帶到偏鄉提升數位教育；把學校的組織合作，帶到校外團隊合作；把學校的活動經驗，帶到企劃內容提升影響力，這些不但讓我認識更多的人，思考也受到許多影響，慢慢想，快快做。</p>

<p>大學的打工生活，豐富了我的學生實習的實務學習，更讓我提早接觸到不同領域的工作者。透過一台電腦，與他人交流；透過他人分享、反思，也逐漸認識自己，培養自己的見識和能力，更在心中種下了一顆夢想的種子。</p>
　
<p>我一直覺得，在學生時期，就能夠透過打工了解社會樣貌或標準，是一件難能可貴的事情。而能夠透過打工的資訊舞台，學以致用，替自己賺進收入，更是一件很有成就感的事情。</p>

</section><!--//section-->
<!--<a href="#" target="_blank">download this free resume/CV template here</a>-->
