 <div class="education-container container-block">
<h2 class="container-block-title">學歷</h2>
<div class="item">
    <h4 class="degree">國立臺東大學</h4>
    <h5 class="meta">National Taitung University of Information Science and Management Systems</h5>
    <div class="time">2014 - 2018</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">國立基隆高中</h4>
    <h5 class="meta">National Keelung High School</h5>
    <div class="time">2011 - 2014</div>
</div><!--//item-->
</div><!--//education-container-->
