 <div class="education-container container-block">
<h2 class="container-block-title">教育程度</h2>
  <div class="item">
    <h4 class="degree">國立臺灣師範大學</h4>
    <h5 class="meta">National Taiwan Normal University Graduate Institute of Information and Computer Education</h5>
    <div class="time">2018 - 2020</div>
  </div><!--//item-->
<!--
  <div class="item">
    <h4 class="degree">國立臺東大學</h4>
    <h5 class="meta">National Taitung University of Information Science and Management Systems</h5>
    <div class="time">2014 - 2018</div>
</div>
-->

</div><!--//education-container-->
