 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">NTTU in Information Science and Management Systems</h4>
    <h5 class="meta">University of Taitung</h5>
    <div class="time">2014 - 2018</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">KSH in National Keelung High School</h4>
    <h5 class="meta">High School of Keelung</h5>
    <div class="time">2011 - 2014</div>
</div><!--//item-->
</div><!--//education-container-->
