<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>WORK EXPERIENCE</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Technical Assistant Intern</h3>
                            <div class="time">2018.7 - 2019.7</div>
                        </div><!--//upper-row-->
                        <div class="company">Microsoft Taiwan</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Responsibilities:</p>  
                        <p>1. Techical support and Teaching situational applications in a team for Office365 Education Edition.</p>
                        <p>2. Computational Thinking training for K12 students and teachers in Taiwan. Ex: Minecraft Education, Hour of Code, micro:bit and Kodu.</p>
                        <p>3.Building cloud-based skill and smart school applications with Azure for Education platform. 
                          Ex: Microsoft Academic Graph and  <a href="https://www.customvision.ai/">Custom Vision</a></p>
                    </div><!--//details-->
                </div><!--//item-->
  
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Digital Education Intern</h3>
                            <div class="time">2017.7 - 2017.9</div>
                        </div><!--//upper-row-->
                        <div class="company">Digital Education Institute, Institute for Information Industry</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Responsibilities:</p>  
                        <p>1. Building Dig+ website and maintaining smart content in a team for college students.</p>
                        <p>2. Collect foreign education market trends and product information into reports.</p>                        
                        <p>3. Regularly add online courses in the Smart Content Zone, including poster design, copywriting and edX links.</p>
                  </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->
