<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>工作經驗</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">資訊工讀生</h3>
                            <div class="time">2017.7 - 2017.9</div>
                        </div><!--//upper-row-->
                        <div class="company">資訊工業策進會數位教育研究所</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>使用WordPress平台建置<a href="https://academy.digitalent.org.tw/">Dig+網站</a>，並且整合相關智慧內容課程，將課程直播和edx線上課程平台連結，讓Dig+計畫研究生可以使用這網站學習相關內容。</p>  
                        <p>另外，認識國外數位教育相關網站，例如<a href="https://edtechmagazine.com/">Edtech</a>、<a href="https://live.zzish.com/">Zzish</a>、<a href="https://kano.me/">Kano</a>等等相關網站，國家分類有英國、西班牙、南非和新加坡和香港等地，透過這些資料我將能夠更加快速了解全球教育趨勢，對於數位教育內容有更進一步了解。</p>
                    </div><!--//details-->
                </div><!--//item-->
            
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">理工學院工讀生</h3>
                            <div class="time">2014 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">國立臺東大學</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>主要負責項目：維護院內環境整潔、送發公文和維護院內網站。透過這些工作讓我更加熟悉校務程序流程，因此對於網站維護有更大的幫助，<a href="http://wcse.nttu.edu.tw/bin/home.php">詳細可點選這。</a></p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">課輔助理</h3>
                            <div class="time">2017.2 - 2017.6</div>
                        </div><!--//upper-row-->
                        <div class="company">作業系統實務與研究課程</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>有部分同學有組裝電腦經驗，因此對於電腦硬體架構較為熟悉，也介紹目前較常使用的組裝電腦購買平台「<a href="http://www.coolpc.com.tw/phpBB2/portal.php">原價屋</a>」，讓同學想要嘗試自行組裝可以透過較便宜管道購買。電腦組裝時同學們都會詢問各線位於主機板上位置以及拆卸方式，我則幫助同學解決任何碰到的疑難雜症，扮演從旁協助的角色，幫助同學完成完整組裝電腦體驗。</p>  
                        <p>此外，在課程上我幫忙教導同學Linxu的基礎架構和CentOS5.5 版本環境建置，後來有興趣的同學將會教導他們使用Ubuntu作業系統，對於Linux更加熟悉，而我也是從中學習到Debug能力。</p>
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->
