<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>工作經驗</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">資訊工讀生</h3>
                            <div class="time">2017.7 - 2017.9</div>
                        </div><!--//upper-row-->
                        <div class="company">資訊工業策進會數位教育研究所</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>1. WordPress平台建置<a href="https://academy.digitalent.org.tw/">Dig+網站</a></p>  
                        <p>整合相關智慧內容線上課程，讓Dig+計畫研究生可以透過這平台學習相關內容。</p>
                        <p>2. 了解國外數位教育趨勢</p>                        
                        <p>例如<a href="https://edtechmagazine.com/">Edtech</a>、<a href="https://live.zzish.com/">Zzish</a>、<a href="https://kano.me/">Kano</a>等等相關網站，國家有英國、西班牙、南非和香港等地，透過這些網站讓我對數位教育內容有更進一步認識。</p>
                  </div><!--//details-->
                </div><!--//item-->
            
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">理工學院工讀生</h3>
                            <div class="time">2014.2 - 2017.6</div>
                        </div><!--//upper-row-->
                        <div class="company">國立臺東大學</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>1. 工作項目</p>  
                        <p>維護院內環境整潔、送發公文和維護院內網站。透過這些工作讓我更加熟悉校務程序流程，因此對於網站維護有更大的幫助，<a href="http://wcse.nttu.edu.tw/bin/home.php">詳細可點選這。</a>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">課輔助理</h3>
                            <div class="time">2017.2 - 2017.6</div>
                        </div><!--//upper-row-->
                        <div class="company">作業系統實務與研究課程</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>1. 電腦硬體組裝</p>
                        <p>對學弟妹講述硬體設備和介紹目前知名的組裝電腦平台「<a href="http://www.coolpc.com.tw/phpBB2/portal.php">原價屋</a>」，幫助同學未來自己組裝電腦和檢測電腦狀態都能夠有相當幫助。</p>
                        <p>2. LinuxOS_CentOS5.5</p>
                        <p>課前教授介紹Linxu的基礎架構和CentOS5.5 版本環境需求，課後我幫助同學解決OS環境問題，並且介紹另一套LinuxOS「Ubuntu」，讓同學對於Linux更加熟悉，我也從中學習到問題解決能力。</p>  
                  </div><!--//details-->
                </div><!--//item--> 
            </section><!--//section-->
