<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>PROJECT EXPERIENCE</h2>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">A Study of Visual Discomfort and Visual Fatigue caused by VR</h3>
                            <div class="time">2017.7 - 2018.2</div>
                        </div><!--//upper-row-->
                        <div class="company">Ministry of Science and Technology</div>
                    </div><!--//meta-->
                    <div class="details">    
                      <p>Abstract</p>  
                      <p>Virtual reality (VR) provides their viewers a vicarious experience of reality, 
                        but whether viewing VR with VR headsets will cause visual fatigue is an empirical question worth exploring. 
                        This study was aimed to address two problems: (1) May viewing VR with VR headsets cause visual fatigue? 
                        (2) Do different grades of VR headsets have different effect on visual fatigue? 
                        This study conducted a between-group experiment with both subjective and objective measure to evaluate visual discomfort and visual fatigue 
                        caused by VR headsets. The results show that the subjects viewing VR with VR headsets experienced apparent visual fatigue as compared
                        with those viewing reality with naked eyes and the subjects with the medium-grade VR headset had more significant visual fatigue than 
                        those with the high-end one. The conclusions of this pilot study also give suggestions for the follow-up researches to explore safe 
                        viewing time of VR headsets.</p>
                       <p><b>Keywords:</b> virtual reality, visual fatigue, 3D, human factors</p>
                       <p>Published in EST 2018 http://www.est.org.tw/est2018/</p>
                    </div><!--//details-->
                </div><!--//item-->
            
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Building Taitung B2C website </h3>
                            <div class="time">2016.9 - 2616.12</div>
                        </div><!--//upper-row-->
                        <div class="company">E-commerce website</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>I am mainly responsible for front-end design and content marketing in a team. Web design uses HTML5 and jQuery
                          to create objects. In addition, the content marketing section, through the face to face talk and collect local 
                          stories with Paiwan leader of small company in Taitung. Organizing Paiwan traditional stories, include of words,
                          voices and images. To make videos, you can click here watch videos online. In short, this project helped me 
                          improve web design and teamwork. The team consists of five people from two national universities in Taiwan.</p>
                      <p>Website：http://www.lohasplus.com.tw/index.php?Act=45</p>
                    </div><!--//details-->
                </div><!--//item-->
            </section><!--//section-->
