<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>專案經驗</h2>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">虛擬實境探索體驗對於使用者視覺疲勞程度影響之研究</h3>
                            <div class="time">2017.7-2018.2</div>
                        </div><!--//upper-row-->
                        <div class="company">科技部大專學生研究計畫</div>
                    </div><!--//meta-->
                    <div class="details">    
                        <p>此研究的目的在於探討使用者對於VR的體驗程度，並且透過視覺疲勞儀器量測數值，最後使用SPSS的統計方法統整數據，可以客觀的得出VR對於「眼睛」的視覺疲勞程度影響，更多相關訊息歡迎聯絡我，找我聊聊!</p>
                    </div><!--//details-->
                </div><!--//item-->
            
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">九鳥陶燒網頁設計</h3>
                            <div class="time">2016.9 - 2616.12</div>
                        </div><!--//upper-row-->
                        <div class="company">電子商務網站</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>團隊中擔任網頁前端設計，使用HTML5和jQuery製作網頁排版和特效顯示。此外，幫助團隊進行企業行銷，包括內容行銷和影片行銷，實際探訪九鳥陶燒將故事用影片的方式宣傳，製作影片軟體為Adobe PR。</a></p>
                        <p>另外，關於我們團隊是與雲科大視傳系合作，團隊成員也來自各個國家，有越南、馬來西亞和台灣，除了跨國合作外我們還跨系合作，透過夥伴們3個月的努力，將此成果送至<a href="https://innoserve.tca.org.tw/award.aspx">第21屆資訊應用服務創新競賽</a>獲得全國產學合作組第三名。</p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
            </section><!--//section-->
