<!-- Use icons from fontawesome when you are adding new item in the contact list  -->             

                 
     <div class="sidebar-wrapper">
            <div class="profile-container">
                <img class="profile-img" src="{{site.baseurl}}/assets/images/{% if site.pic %}{{ site.pic }}{% else %}profile.png{% endif %}" alt="profile picture" />
                <h1 class="name">{% if site.name %}{{site.name}}{% else %}Alan Doe{% endif %}</h1>
                <h3 class="tagline">{% if site.tagline %}{{site.tagline}}{% else %}Full Stack Developer{% endif %}</h3>
            </div><!--//profile-container-->
            
            <div class="contact-container container-block">
                <ul class="list-unstyled contact-list">
                   
                   {% if site.email %}
                    <li class="email"><i class="fa fa-envelope"></i><a href="mailto: {{site.email}}">{{site.email}}</a></li>
                    {% else %}
                    <li class="email"><i class="fa fa-envelope"></i><a href="mailto:alan.doe@website.com">alan.doe@website.com</a></li>
                    {% endif %}
                    
                    {% if site.phone %}
                    <li class="phone"><i class="fa fa-phone"></i><a href="tel:{{site.phone}}">{{site.phone}}</a></li>
                    {% else %}
                    <li class="phone"><i class="fa fa-phone"></i><a href="tel:012 345 6789">012 345 6789</a></li>
                    {% endif %}
                     
                    {% if site.github %}
                    <li class="github"><i class="fa fa-github"></i><a href="http://github.com/{{site.github}}" target="_blank">github.com/{{site.github}}</a></li>
                    {% else %}
                    <li class="github"><i class="fa fa-github"></i><a href="http://github.com/sharu725" target="_blank">github.com/sharu725</a></li>
                    {% endif %}
                    
                    {% if site.youtube %}
                    <li class="youtube"><i class="fa fa-youtube"></i><a href="https://www.youtube.com/channel/UCpKg1jM_EicEleqrtTAXGBg" target="_blank">{{site.youtube}}</a></li>
                    {% else %}
                     <li class="youtube"><i class="fa fa-youtube"></i><a href="https://www.youtube.com/channel/UCpKg1jM_EicEleqrtTAXGBg" target="_blank">搜尋：莊英發</a></li>
                    {% endif %}
                  
                    {% if site.youtube %}
                    <li class="team"><i class="fa fa-users"></i><a href="https://ecare.moe.gov.tw/nepaper/?tag=%E6%9D%B1%E5%A4%A7%E8%B3%87%E8%A8%8A%E5%BF%97%E5%B7%A5%E5%9C%98" target="_blank">{{site.team}}</a></li>
                    {% else %}
                     <li class="team"><i class="fa fa-users"></i><a href="https://ecare.moe.gov.tw/nepaper/?tag=%E6%9D%B1%E5%A4%A7%E8%B3%87%E8%A8%8A%E5%BF%97%E5%B7%A5%E5%9C%98" target="_blank">東大資訊志工</a></li>
                    {% endif %}
                  
                    {% if site.youtube %}
                    <li class="photo"><i class="fa fa-picture-o"></i><a href="https://photos.app.goo.gl/zUIAWvty7jumSAGp2" target="_blank">{{site.photo}}</a></li>
                    {% else %}
                     <li class="photo"><i class="fa fa-picture-o"></i><a href="https://photos.app.goo.gl/zUIAWvty7jumSAGp2" target="_blank">相關獎狀&證明</a></li>
                    {% endif %}
                    
                </ul>
            </div><!--//contact-container-->
           {% include education.html %}
           {% include language.html %}
           {% include interests.html %}
           {% include about.html %}
        
            
        </div><!--//sidebar-wrapper-->
